@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #f3f8fa;
  font-family: "Montserrat", sans-serif;
  margin: 100px auto 50px;
}

.hide-scroll {
  overflow: hidden;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  padding: 20px 40px;
  background: #7551E9;
  border: none;
  font-size: 16px;
  color: #fff;
  box-shadow: 4px 4px 4px 0px rgba(117, 81, 233, 0.5);
  transition: all 200ms ease;
  outline: none;
}

.main {
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
  width: 80%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.button:hover {
  box-shadow: none;
}

.button:disabled {
  background: #d1c4e9;
  pointer-events: none;
  box-shadow: none;
}

.card {
  background: #fff;
  border: 1px solid #e8e8e8;
  text-align: center;
  display: grid;
  grid-template-rows: 70px auto 30px;
}

.card > * {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

.card__title {
  border-bottom: 1px solid #e8e8e8;
  font-size: 20px;
}

.card-body {
  border-bottom: 1px solid #e8e8e8;
}

.card__read-more {
  border: none;
  color: #757575;
  outline: none;
}

.card__read-more:hover {
  background: #616161;;
  color: #fff;
}

.popup-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-content {
  width: 90%;
  height: 80%;
  max-width: 600px;
  max-height: 800px;
  overflow: auto;
  background: #fff;
}

.loading-text {
  grid-column: 1 / -1;
}

.close-btn {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 4px solid #eaf6ff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  display: inline-block;
  margin: 10px 20px;
}

.close-btn::before {
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  width: 24px;
  height: 4px;
  background-color: #eaf6ff;
  content: "";
  position: absolute;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-btn::after {
  width: 24px;
  height: 4px;
  background-color: #eaf6ff;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  position: absolute;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 30%;
  max-width: 250px;
}

.popup-buttons__btn {
  border: none;
  padding: 15px 25px;
  color: white;
  font-size: 16px;
}

.popup-buttons__btn.green {
  background: #2ecc71;
}
.popup-buttons__btn.green:hover {
  background: #71d59c;
}
.popup-buttons__btn.red {
  background: #e74c3c;
}
.popup-buttons__btn.red:hover {
  background: #e17b71;
}